@font-face {
  font-family: Decor;
  src: url(../fonts/SL_DEC_tt.ttf) format(truetype);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Decor;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url(../assets/ltbg.png), url(../assets/rbbg.png), url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 60%, 60%, cover;
  background-position: top left, bottom right, center center;
  background-attachment: fixed;
}

header,
footer {
  width: 100%;
  height: 0;
}

section {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: gray;
}

img {
  display: block;
}

.invitation {
  height: 100vh;
}
.invitation .invitation-header {
  font-weight: 700;
  font-size: 25vw;
  line-height: 80px;
  text-align: center;
  margin-bottom: 48px;
}
.invitation .invitation-header .and {
  font-size: smaller;
}
.invitation .invitation-text {
  max-width: calc(100% - 2em);
}
.invitation .invitation-text .invitation-text__paragraph {
  text-indent: 2rem;
  text-align: justify;
  font-weight: 400;
  font-size: 6vw;
}
.invitation .invitation-text .invitation-text__paragraph:first-child {
  text-align: center;
  margin-bottom: 48px;
  font-size: 7vw;
}
.invitation .invitation-text .invitation-text__paragraph:last-child {
  margin-bottom: 0;
}

.timer {
  height: 50vh;
}
.timer .timer-header {
  font-weight: 700;
  font-size: 10vw;
}
.timer .timer-footer {
  font-size: 8vw;
}
.timer .timer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18vw;
  padding: 0.3em 0 0.5em;
}
.timer .timer-items .timer-items__item {
  position: relative;
  min-width: 60px;
  padding: 0 10px 15px;
  text-align: center;
}
.timer .timer-items .timer-items__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 22px;
}
.timer .timer-items .timer-items__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -5px;
}

.schedule {
  height: 50vh;
}
.schedule .schedule-header {
  text-align: center;
  font-size: 10vw;
  text-transform: uppercase;
}
.schedule .schedule-list {
  text-align: center;
  font-size: 7vw;
  line-height: 1.2em;
}

.address {
  height: 100vh;
}
.address .address-map {
  width: 90%;
  height: 75%;
  border-radius: 1rem;
  border: 2px solid #000;
  margin-bottom: 4em;
}
.address .address-link {
  font-size: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.address .address-link img {
  width: 32px;
  height: auto;
}