.address {
  height: 100vh;
  & .address-map {
    width: 75vw;
    height: 75vh;
    border-radius: 1rem;
    border: 1px solid #000;
    margin-bottom: 4em;
  }
  & .address-link {
    font-size: 7vw;
  }
}
