.invitation {
  height: 100vh;
  & .invitation-header {
    font-weight: 700;
    font-size: 25vw;
    line-height: 80px;
    text-align: center;
    margin-bottom: 48px;
    & .and {
      font-size: smaller;
    }
  }
  & .invitation-text {
    max-width: calc(100% - 2em);
    & .invitation-text__paragraph {
      text-indent: 2rem;
      text-align: justify;
      font-weight: 400;
      font-size: 6vw;

      &:first-child {
        text-align: center;
        margin-bottom: 48px;
        font-size: 7vw;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
