.timer {
  font-weight: 400;
  font-style: normal;
  &.timer-header {
    font-weight: 400;
  }
  & .timer-items {
    display: flex;
    font-size: 48px;
    margin-bottom: 1rem;
    & .timer-items__item {
      position: relative;
      min-width: 60px;
      padding-bottom: 15px;
      text-align: center;
      &::before {
        content: attr(data-title);
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 14px;
      }
      &:not(:last-child)::after {
        content: ":";
        position: absolute;
        right: -2px;
      }
    }
  }
}
