
@font-face {
  font-family: Decor;
  src: url(../fonts/SL_DEC_tt.ttf) format(truetype);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Decor;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url(../assets/ltbg.png), url(../assets/rbbg.png),
    url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 60%, 60%, cover;
  background-position: top left, bottom right, center center;
  background-attachment: fixed;
}
header,
footer {
  width: 100%;
  height: 0;
}
section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: gray;
}
img {
  display: block;
}
